KaliteGirisTakip/KaliteGirisTakip/KaliteGiris.Web/Service References/ServiceReferenceIK/ServicePersonel2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.1.1.5/ikwcf/ServicePersonel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IK.Entities.Service" />
  <xs:import schemaLocation="http://193.1.1.5/ikwcf/ServicePersonel.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IK.Entities" />
  <xs:element name="GetPersonelBilgiList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelBilgiListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IK.Entities.Service" minOccurs="0" name="GetPersonelBilgiListResult" nillable="true" type="q1:ArrayOfPersonelBilgi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciAdi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sifre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IK.Entities.Service" minOccurs="0" name="CheckUserResult" nillable="true" type="q2:PersonelBilgi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmanListesi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmanListesiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IK.Entities" minOccurs="0" name="GetDepartmanListesiResult" nillable="true" type="q3:ArrayOfPersonelDepartman" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnvanList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnvanListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IK.Entities" minOccurs="0" name="GetUnvanListResult" nillable="true" type="q4:ArrayOfPersonelUnvan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IK.Entities" minOccurs="0" name="GetSubeListResult" nillable="true" type="q5:ArrayOfPersonelSube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>