KaliteGirisTakip/KaliteGirisTakip/KaliteGiris.Web/Service References/ServiceReferenceIK/ServicePersonel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePersonel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.1.1.5/ikwcf/ServicePersonel.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.1.1.5/ikwcf/ServicePersonel.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.1.1.5/ikwcf/ServicePersonel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IK.Entities.Service" />
      <xsd:import schemaLocation="http://193.1.1.5/ikwcf/ServicePersonel.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IK.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePersonel_GetPersonelBilgiList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelBilgiList" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetPersonelBilgiList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelBilgiListResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetDepartmanListesi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmanListesi" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetDepartmanListesi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmanListesiResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetUnvanList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnvanList" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetUnvanList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnvanListResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetSubeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubeList" />
  </wsdl:message>
  <wsdl:message name="IServicePersonel_GetSubeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubeListResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePersonel">
    <wsdl:operation name="GetPersonelBilgiList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonel/GetPersonelBilgiList" message="tns:IServicePersonel_GetPersonelBilgiList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonel/GetPersonelBilgiListResponse" message="tns:IServicePersonel_GetPersonelBilgiList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonel/CheckUser" message="tns:IServicePersonel_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonel/CheckUserResponse" message="tns:IServicePersonel_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmanListesi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonel/GetDepartmanListesi" message="tns:IServicePersonel_GetDepartmanListesi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonel/GetDepartmanListesiResponse" message="tns:IServicePersonel_GetDepartmanListesi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnvanList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonel/GetUnvanList" message="tns:IServicePersonel_GetUnvanList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonel/GetUnvanListResponse" message="tns:IServicePersonel_GetUnvanList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePersonel/GetSubeList" message="tns:IServicePersonel_GetSubeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePersonel/GetSubeListResponse" message="tns:IServicePersonel_GetSubeList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePersonel" type="tns:IServicePersonel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonelBilgiList">
      <soap:operation soapAction="http://tempuri.org/IServicePersonel/GetPersonelBilgiList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IServicePersonel/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmanListesi">
      <soap:operation soapAction="http://tempuri.org/IServicePersonel/GetDepartmanListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnvanList">
      <soap:operation soapAction="http://tempuri.org/IServicePersonel/GetUnvanList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubeList">
      <soap:operation soapAction="http://tempuri.org/IServicePersonel/GetSubeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePersonel">
    <wsdl:port name="BasicHttpBinding_IServicePersonel" binding="tns:BasicHttpBinding_IServicePersonel">
      <soap:address location="http://193.1.1.5/ikwcf/ServicePersonel.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>