KaliteGirisTakip/KaliteGirisTakip/KaliteGiris.Web/Service References/ServiceReferenceIK/ServicePersonel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IK.Entities.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IK.Entities.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonelBilgi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonelBilgi" nillable="true" type="tns:PersonelBilgi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonelBilgi" nillable="true" type="tns:ArrayOfPersonelBilgi" />
  <xs:complexType name="PersonelBilgi">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmanAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmanId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonelId" type="xs:int" />
      <xs:element minOccurs="0" name="SicilNo" type="xs:int" />
      <xs:element minOccurs="0" name="Soyadi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sube" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubeId" type="xs:int" />
      <xs:element minOccurs="0" name="Unvan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnvanId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonelBilgi" nillable="true" type="tns:PersonelBilgi" />
</xs:schema>